@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Light;
    src: url('./assets/fonts/Poppins-Light.ttf');
}

.poppins-light{
    font-family: Poppins-Light;
}

.poppins-regular{
    font-family: Poppins;
}

* {
    font-family: Poppins;
}

.carousel-root{
    display: contents;
}

.fondoMovil{
    background-image: url('./assets/img/fondo-movil.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.marcoMovil{
    background-image: url('./assets/img/marco.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 50% 100%;
    background-position: center;
}

#carouselContainer .carousel.carousel-slider{
    width: 50% !important;
}

#carouselContainer .carousel .slider.animated{
    /* transition: fadeIn 1.5s ease-in-out !important; */
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}

@media (max-width: 750px) {
    .marcoMovil{
        background-size: 90% 100%;
    }

    #carouselContainer .carousel.carousel-slider{
        width: 90% !important;
    }
}